<div class="container">
    <h1>CONTACT</h1>

    <div class="col-md-5 lets-talk">
        <span>let's talk</span>
    </div>
    <div class="col-md-7 contact-form">
        <div class="col-md-12 confirmation">
            <h2>Thank you. I'll get back to you soon.</h2>
        </div>
    </div>
</div>

<style>
    .page-contact,
    html,
    body {
        overflow: visible !important;
    }
    @media only screen and (max-width: 992px) {
        body {
            background: #e54329;
            background-image: url(../assets/img/redOrange_stripe.png);
        }
        .page-contact .container {
            padding-bottom: 4em;
        }
    }
</style>
