<div class="container">
    <h1>CONTACT</h1>

    <div class="col-md-5 lets-talk">
        <span>let's talk</span>
    </div>
    <div class="col-md-7 contact-form">
        <div class="col-md-12 confirmation">
            <h2>Thank you. I'll get back to you soon.</h2>
        </div>
    </div>
</div>

<style>
    #menu-button {
		background-color: #fff !important;
        color: #E54329 !important;
    }
    .nav-container {
        background:#E54329; 
	    background-image: url(../assets/img/redOrange_stripe.png);
        opacity: 1 !important;
    }
    .nav-container:hover {
        background-color: rgba(255,255,255,0.97) !important;
    }
    .nav-container:hover  #menu-button {
        background-color: #E54329 !important;
        color: #fff !important;
    }
    #logo {
    	background-image: url(../assets/img/logo-white.png) !important; 
    }
    .nav-container:hover #logo {
    	background-image: url(../assets/img/logo.png) !important; 
    }
     .page-contact, html, body {
         overflow: visible !important;
     }
    @media only screen and (max-width: 992px){
        body {
            background:#E54329; 
	        background-image: url(../assets/img/redOrange_stripe.png);
        }
        .page-contact .container {
			padding-bottom: 4em;
		}
    }
    @media only screen and (max-width: 600px){
        
        #menu-button {
		background-color: #E54329 !important;
        color: #fff !important;
        }
        .nav-container:hover {
            background-color: #fff !important;
        }
        .nav-container:hover  #menu-button {
            background-color: #E54329 !important;
            color: #fff !important;
        }
        #logo {
            background-image: url(../assets/img/logo.png) !important; 
        }
    }
</style>
