	
<!-- ====================================== -->
	
	<div class="container">
		<header class="col-md-12">
			<h2>lorenzo Zozaya</h2>
			<p>
				 <span>Front-End Engineer</span> / <span>Web Applications Designer</span>
			</p>
			<a href="#!/work" class="work-cta">click here to see my work</a>
			<p class="social">
				<a href="https://github.com/flzozaya">
					<i class="zmdi zmdi-github-alt"></i></a>
				<a href="https://www.linkedin.com/in/flzozaya">
					<i class="zmdi zmdi-linkedin"></i></a>
				<a href="mailto:lorenzo@zozaya.io">
					<i class="zmdi zmdi-email"></i></a>
			</p>
		</header>
	</div>

	<div id="about-scroll" ng-click="goToAboutSection('about')">
		<div>
			<span>more about me
				<i class="zmdi zmdi-triangle-down"></i>
			<span>			
		</div>
		<p style="visibility:hidden" id="scrollHelper"></p>
	</div>

	
	<section id="about">
		<div class="container">
			<div class=" col-xs-4">
				<img src="assets/img/lorenzo.png" width="100%" class="home-img"/>
			</div>

			<div class=" col-xs-8 about-copy">
				<p>
					My name is Lorenzo and I am a Software Engineer with a focus in Frontend and over 8 years of industry experience,
					currently working at Hulu for the past 2+ years.
					</br>
					I enjoy all things tech, but most passionate about web technologies and the marriage between technology and art
					as an expression in web development. 
				</p>
				<p>
					I was born in Venezuela, but lived most of my life in South Florida, before moving to LA almost 3 years ago.
					In my spare time, I have fun with cool web experiments, building a product for a client or learning something new.
					</br>
					But I'm more of an outdoor person - I enjoy traveling, hiking, the beach.
					I also have a weakness for soccer, beach volleyball and ping-pong. And a passion for music - playing guitar since the age of 13.
				</p>
				<p><a href="#!/resume" class="resume">Resume</a></p>
			</div>
		</div>
	</section>
	<script>
		// $('#about-scroll').fadeOut();		
	</script>
