  
   
    <div class="protfolio-container">  
        <div class="container page-work-heading">    
            <h1>WEB</h1>
        </div>
        <!--<br/>-->
        <!--<br/> -->
<!-- :::::::::::::::::::: GRID :::::::::::::::::::::::::::::-->
        <section class="slider">
                <div class="slide slide--current" data-content="content-1">
                    <div class="slide__mover">
                        <div class="zoomer flex-center">
                            <img class="zoomer__image iMac" src="assets/img/imac.png" alt="" />
                            <div class="preview preview-iMac" >
                                <img src="assets/img/emailApp-content-preview.jpg" width="405" alt="iMac app preview" />
                                <div class="zoomer__area zoomer__area--size-5"></div>
                            </div>
                        </div>
                    </div>
                    <h2 class="slide__title"><span>Full MEAN JS Development</span> eMail Blast Deployment App in Full MEAN</h2>
                </div>

                <div class="slide" data-content="content-2">
                    <div class="slide__mover">
                        <div class="zoomer flex-center">
                            <img class="zoomer__image macbook" src="assets/img/macbook.png" alt="" />
                            <div class="preview preview-macbook">
                                <img src="assets/img/dabr-content-preview.jpg" width="392" alt="Dental Associates of Boca Raton preview" />
                                <div class="zoomer__area zoomer__area--size-3"></div>
                            </div>
                        </div>
                    </div>
                    <h2 class="slide__title"><span>Web Design & Development</span> Dental Associates of Boca Raton</h2>
                </div>
                
                <div class="slide" data-content="content-3">
                    <div class="slide__mover">
                        <div class="zoomer flex-center">
                            <img class="zoomer__image iphone" src="assets/img/iphone.png" alt="" />
                            <div class="preview preview-iphone">
                                <img src="assets/img/dabr-mobile-content-preview.jpg" width="122" alt="Dental Associates of Boca Raton mobile web app preview" />
                                <div class="zoomer__area zoomer__area--size-2"></div>
                            </div>
                        </div>
                    </div>
                    <h2 class="slide__title"><span>Mobile Web App Development</span> Dental Associates of Boca Raton</h2>
                </div>

                <div class="slide" data-content="content-4">
                    <div class="slide__mover">
                        <div class="zoomer flex-center">
                            <img class="zoomer__image iMac" src="assets/img/imac.png" alt="iMac" />
                            <div class="preview preview-iMac" >
                                <img src="assets/img/smiledelray-content-preview.jpg" width="404" alt="Addison Prosthodontics" />
                                <div class="zoomer__area zoomer__area--size-5"></div>
                            </div>
                        </div>
                    </div>
                    <h2 class="slide__title"><span>Logo Design & Web Development</span> Addison Prosthodontics</h2>
                </div>

            <!-- /slider nav -->
                <nav class="slider__nav">
                    <button class="button button--nav-prev"><i class="icon icon--arrow-left"></i><span class="text-hidden">Previous product</span></button>
                    <button class="button button--zoom"><i class="icon icon--zoom"></i><span class="text-hidden">View details</span></button>
                    <button class="button button--nav-next"><i class="icon icon--arrow-right"></i><span class="text-hidden">Next product</span></button>
                </nav>
            </section>




<!-- :::::::::::::::::::: SLIDER :::::::::::::::::::::::::::::-->
            <section class="content">
                <div class="content__item" id="content-1">
                    <img class="content__item-img rounded-right" src="assets/img/emailApp-content.jpg" alt="eMail Blast Deployment App Project in Full MEAN JavaScript" />
                    <div class="content__item-inner">
                        <h2>eMail Blast Deployment App</h2>
                        <h3>Web Application in Full MEAN JavaScript</h3>
                            <ul class="desc-txt">
                                <li>Designed, developed, managed and directed team of 4 in the website redesign project</li>
                                <li>Supervised launch of Social Media marketing</li>
                                <li>Designed and developed email marketing campaigns</li>
                                <li>Provided monthly scheduled website maintenance and updates</li>
                                <li>Implemented responsive layout of existing website</li>
                                <li>Integrated Wordpress blog while maintaining existing website layout and branding</li>
                            </ul>
                            <p class="desc-txt">
                                Technologies used: HTML5, CSS3, JavaScript, Jquery, Responsive web design, PHP, Wordpress,
                                Web graphics with Adobe Illustrator and Photoshop image manipulation.
                            </p>
                        <p><a href="http://ec2-35-167-117-191.us-west-2.compute.amazonaws.com/" target="_new" class="click-to-see-cta">See it Live <i class="zmdi zmdi-chevron-right"></i>
</a></p>
                    </div>
                </div>
               
                <div class="content__item" id="content-2">
                    <img class="content__item-img rounded-right" src="assets/img/dabr-content.jpg" alt="Dental Associates of Boca Raton Project" />
                    <div class="content__item-inner">
                        <h2>Dental Associates of Boca Raton</h2>
                        <h3>Freelance Web Design & Development</h3>
                            <ul class="desc-txt">
                                <li>Designed, developed, managed and directed team of 4 in the website redesign project</li>
                                <li>Supervised launch of Social Media marketing</li>
                                <li>Designed and developed email marketing campaigns</li>
                                <li>Provided monthly scheduled website maintenance and updates</li>
                                <li>Integrated Wordpress blog while maintaining existing website layout and branding</li>
                            </ul>
                            <p class="desc-txt">
                                Technologies used: HTML5, CSS3, JavaScript, Jquery, PHP, Wordpress,
                                Web graphics with Adobe Illustrator and Photoshop image manipulation.
                            </p>
                            <p><a href="http://www.mybocasmile.com/" target="_new" class="click-to-see-cta">See it Live</a></p>
                    </div>
                </div>

                <div class="content__item" id="content-3">
                    <img class="content__item-img rounded-right" src="assets/img/dabr-mobile-content.png" alt="Apple Watch Content" />
                    <div class="content__item-inner">
                        <h2>Dental Associates of Boca Raton</h2>
                        <h3>Freelance Mobile Web App Development</h3>
                        <ul class="desc-txt">
                                <li>Designed & developed mobile-compatible version of their website</li>
                                <li>Supervised launch of Social Media marketing</li>
                                <li>Designed and developed email marketing campaigns</li>
                                <li>Integrated Wordpress blog while maintaining existing website layout and branding</li>
                            </ul>
                            <p class="desc-txt">
                                Technologies used: HTML5, CSS3, JavaScript, Jquery, Responsive Web Design.
                                Web graphics with Adobe Illustrator and Photoshop image manipulation.
                            </p>
                            <p><a href="http://m.mybocasmile.com/" target="_new" class="click-to-see-cta">See it Live</a></p>
                            
                    </div>
                </div>
               
                <div class="content__item" id="content-4">
                    <img class="content__item-img rounded-right" src="assets/img/smiledelray-content.jpg" alt="Freelance Web Design & Development for Addison Prosthodontics" />
                    <div class="content__item-inner">
                        <h2>Addison Prosthodontics</h2>
                        <h3>Freelance Logo Design & Web Development</h3>
                            <ul class="desc-txt">
                                <li>Designed custom logo and branding</li>
                                <li>Designed and developed custom responsive website for integration into Wordpress</li>
                                <li>Provided monthly scheduled website maintenance and updates</li>
                                <li>Integrated Wordpress blog while maintaining existing website layout and branding</li>
                            </ul>
                            <p class="desc-txt">
                                Technologies used: HTML5, CSS3, JavaScript, Jquery, Responsive web design, PHP, Wordpress,
                                Web graphics with Adobe Illustrator and Photoshop image manipulation, Logo design, Branding.
                            </p>
                            <p><a href="http://smiledelray.com/" target="_new" class="click-to-see-cta">See it Live</a></p>
                    </div>
                </div>

                <button class="button button--close"><i class="zmdi zmdi-close"></i><span class="text-hidden">Close content</span></button>
            </section>
    </div>

<!-- ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->

<script src="assets/js/classie.js"></script>
<script src="assets/js/dynamics.min.js"></script>
<script src="assets/js/main.js"></script>
<script>
    $('button.button--zoom').click(function(){
        $('.preview').css("background", "#E54329");
    });

    $('button.button--close').click(function(){
        setTimeout(function(){
            $('.preview').css("background", "#272727");
        }, 1050);
    });
</script>
