    <div class="protfolio-container">  
        <div class="container page-work-heading">    
            <h1>WEB</h1>
        </div>
<!-- :::::::::::::::::::: GRID :::::::::::::::::::::::::::::-->
        <section class="slider">
                <div ng-repeat="wrk in webWork" ng-class="[{'slide--current': $index === 0}, 'slide']" data-content="content-{{ wrk.contentNumber }}">
                    <div class="slide__mover">
                        <div class="zoomer flex-center">
                            <img class="zoomer__image {{ wrk.displayDevice }}" ng-src="assets/img/{{ wrk.deviceImage }}" alt="" />
                            <div class="preview {{ wrk.contentPrevClass }}" >
                                <img ng-src="assets/img/{{ wrk.contentPrevImage }}" width="{{ wrk.contentPrevImageWidth }}" alt="{{ wrk.contentPrevImageAlt }}" />
                                <div class="zoomer__area zoomer__area--size-{{ wrk.zoomerNum }}"></div>
                            </div>
                        </div>
                    </div>
                    <h2 class="slide__title"><span>{{ wrk.slideTitleSpan }}</span> {{ wrk.slideTitle }}</h2>
                </div>

<!-- :::::::::::::::::::::::::::::::::::::::::::::::::::::: -->
            <!-- /slider nav -->
                <nav class="slider__nav">
                    <button class="button button--nav-prev"><i class="icon icon--arrow-left"></i><span class="text-hidden">Previous product</span></button>
                    <button class="button button--zoom"><i class="icon icon--zoom"></i><span class="text-hidden">View details</span></button>
                    <button class="button button--nav-next"><i class="icon icon--arrow-right"></i><span class="text-hidden">Next product</span></button>
                </nav>
            </section>

<!-- :::::::::::::::::: SLIDER :::::::::::::::::::::::::::: -->
            <section class="content">
                <div ng-repeat="w in webWork" class="content__item" id="content-{{ w.contentNumber }}">
                    <img class="content__item-img rounded-right" ng-src="assets/img/{{ w.contentImage }}" alt="{{ w.contentImageAlt }}t" />
                    <div class="content__item-inner">
                        <h2>{{ w.contentH2 }}</h2>
                        <h3>{{ w.contentH3 }}</h3>
                            <ul class="desc-txt">
                                <li ng-repeat="bulletItem in w.contentUL">{{ bulletItem }}</li>
                            </ul>
                            <p class="desc-txt">
                                {{ w.contentCopy }}
                            </p>
                        <p><a href="{{ w.liveLinkURL }}" target="_new" class="click-to-see-cta">See it Live <i class="zmdi zmdi-chevron-right"></i></a></p>
                    </div>
                </div>
<!-- :::::::::::::::::::::::::::::::::::::::::::::::::::::: -->
                <button class="button button--close"><i class="zmdi zmdi-close"></i><span class="text-hidden">Close content</span></button>
            </section>
    </div>